#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  border-bottom: 1px solid #363636;
  padding: 0.5em 1em;
  color: #fafafa;
}

#search-form {
  position: relative;
  width: 20%;
}

#search-form svg {
  position: absolute;
  top: 10px;
  left: 9px;
  color: #aaa;
}

#search-form input {
  padding-left: 2.5em;
  border: 1px solid #555;
  border-radius: 5px;
  width: 100%;
  margin: 0;
  background-color: #3b3b3b;
  color: #fafafa;
}

#search-form input::placeholder {
  color: #aaa;
}

#nav-links {
  display: flex;
  align-items: center;
}

#nav-links li {
  margin-right: 1em;
}

#nav-links span {
  cursor: pointer;
}

#nav-links svg {
  font-size: 1.5em;
  color: #0094f6;
}

#nav .back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: inherit;
}

.nav-logo {
  height: 50px; /* Altura da imagem */
  width: auto; /* Mantém a proporção da imagem */
  margin: auto; /* Centraliza a imagem dentro do flex container */
}

/* Variáveis para facilitar a edição */
:root {
  --nav-logo-height: 50px; /* Altura padrão da imagem */
  --nav-logo-max-width: 100%; /* Largura máxima da imagem */
  --nav-logo-margin: 0 auto; /* Margem padrão para centralização */
}

/* Uso das variáveis */
.nav-logo {
  height: var(--nav-logo-height);
  max-width: var(--nav-logo-max-width);
  margin: var(--nav-logo-margin);
}

/* Adicional: Personalizações avançadas */
.nav-logo-position {
  position: right; /* Necessário se for usar top, right, bottom, left */
  top: 10px; /* Exemplo: move a imagem 10px para baixo */
  left: 20px; /* Exemplo: move a imagem 20px para a direita */
}