/* ProfileAdm.css */
.profile-adm-container {
    background-color: #222;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    padding: 40px;
    max-width: 600px;
    margin: 80px auto;
    text-align: center;
    color: #fff;
  }
  
  .profile-adm-container h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  
  .profile-adm-button {
    display: block;
    width: 80%;
    padding: 15px;
    margin: 15px auto;
    border-radius: 10px;
    border: none;
    background-color: #1a73e8;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .profile-adm-button:hover {
    background-color: #1669c1;
    transform: scale(1.05);
  }
  .global-settings {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

/* .profile-adm-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.profile-adm-button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.profile-adm-button:hover {
  background-color: #0056b3;
} */
