/* Profile container */
#profile {
  background-color: #222; /* Black background */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); /* Darker drop shadow */
  padding: 40px;
  max-width: 600px; /* Adjust width as needed */
  margin: 80px auto; /* Center the profile container */
  color: #fff; /* Text color: white */
}

.profile-header {
  text-align: center;
  margin-bottom: 30px;
}

.profile-header h2 {
  color: #fff; /* White heading color */
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px; /* Add letter spacing for a modern look */
}

.profile-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-info li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 10px; /* More rounded corners */
  background-color: #333; /* Darker gray background for list items */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Darker shadow */
  margin-bottom: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.profile-info li:hover {
  background-color: #444; /* Darker background on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.profile-info li.name {
  background-color: #555; /* Slightly lighter gray for "Name" field */
}

.profile-info li span.label {
  font-weight: bold;
  color: #fff; /* White label text */
  font-size: 1em;
  margin-right: 15px;
}

.profile-info li span.value {
  color: #ddd; /* Lighter gray for values */
  font-size: 1em;
}

.profile-info li.teams {
  cursor: pointer; /* Pointer cursor to indicate clickable item */
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start */
}

.profile-info li.teams span.value {
  display: block; /* Ensure each team appears on a new line */
  margin-top: 10px; /* Add some space between teams */
}

.profile-info li.teams .arrow {
  font-size: 1.5em;
  color: #ddd; /* Lighter gray for arrow */
  transition: transform 0.3s ease;
}

.profile-info li.teams .arrow.up {
  transform: rotate(180deg); /* Rotate the arrow up */
}
