body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: #fafafa;
  background-image: url('../public/fetin-seo.jpg');
  background-size: cover;
  background-position: center;
}

a {
  color: #0094f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #aaa;
  font-size: 0.9em;
}

input {
  background-color: #3b3b3b;
  color: #fafafa;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  margin-bottom: 0.6em;
  font-size: 1em;
}

input::placeholder {
  color: #aaa;
}

input:disabled {
  cursor: not-allowed;
  background-color: #000;
}

.btn,
button,
input[type="submit"] {
  background-color: #0094f6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 12px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.9;
  font-size: 1em;
  transition: opacity 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
  opacity: 1;
}

.cancel-btn {
  background-color: #666;
}

.hide {
  display: none;
}

/* Additional styling for components */
.profile-header h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.profile-info {
  padding: 0;
}

.profile-info li {
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.profile-info .label {
  font-weight: bold;
  color: #0094f6;
  font-size: 1.1em;
}

.profile-info .value {
  font-size: 1em;
  color: #fafafa;
}

.profile-info .teams .value div {
  margin-top: 0.5em;
}

.profile-info .arrow {
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 10px;
}

.profile-info .arrow.up {
  transform: rotate(180deg);
}

#equipe-detalhes {
  padding: 20px;
}

.equipe-header h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.equipe-header h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #0094f6;
}

.equipe-info {
  padding: 0;
}

.equipe-info li {
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.equipe-info .label {
  font-weight: bold;
  color: #0094f6;
  font-size: 1.1em;
}

.equipe-info .value {
  font-size: 1em;
  color: #fafafa;
}

.equipe-info .email,
.equipe-info .matricula {
  display: block;
  font-size: 0.9em;
  color: #aaa;
  margin-top: 0.3em;
}

.equipe-info .no-members {
  font-size: 1.2em;
  color: #ff4d4d;
}

/* Styling for Login and Register pages */
#login,
#register {
  border: 5px solid #363636;
  background-color: #1e1e1e;
  padding: 1.5em 2em;
  max-width: 33%;
  margin: 2em auto;
  border-radius: 10px;
}

#login h2,
#register h2 {
  text-align: center;
  font-size: 2.1em;
  margin-top: 0;
  color: #0094f6;
}

.subtitle {
  font-weight: bold;
  color: #999;
  margin-bottom: 1.5em;
  text-align: center;
}

#login form,
#register form {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #363636;
}

#login p,
#register p {
  text-align: center;
}

#login p a,
#register p a {
  font-weight: bold;
  color: #0094f6;
}

/* Styling for Navbar */
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  border-bottom: 1px solid #363636;
  padding: 0.5em 1em;
  color: #fafafa;
}

#search-form {
  position: relative;
  width: 20%;
}

#search-form svg {
  position: absolute;
  top: 10px;
  left: 9px;
  color: #aaa;
}

#search-form input {
  padding-left: 2.5em;
  border: 1px solid #555;
  border-radius: 5px;
  width: 100%;
  margin: 0;
  background-color: #3b3b3b;
  color: #fafafa;
}

#search-form input::placeholder {
  color: #aaa;
}

#nav-links {
  display: flex;
  align-items: center;
}

#nav-links li {
  margin-right: 1em;
}

#nav-links span {
  cursor: pointer;
}

#nav-links svg {
  font-size: 1.5em;
  color: #0094f6;
}

/* Styling for Footer */
#footer {
  background-color: #1e1e1e;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1
}