.editar-equipe-adm-container {
  background-color: #222;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  padding: 40px;
  max-width: 600px;
  margin: 80px auto;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.editar-equipe-adm-container h2 {
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  color: #fff;
  font-size: 1em;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 110%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  background-color: #333;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.member-group {
  display: flex;
  gap: 0.0001px;
  margin-bottom: 5px;
}

.member-group input {
  flex: 1;
}

button[type="button"] {
  background-color: #1a73e8; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 10px;
}

button[type="button"]:hover {
  background-color: #1669c1; 
  transform: scale(1.05);
}

button.remover[type="button"] {
  background-color: #ff4d4d; 
  margin-left: 10px; 
}

button.remover:hover {
  background-color: #cc0000; 
}

button.adicionar {
  background-color: #1a73e8; 
  margin-top: 10px;
}

button.adicionar:hover {
  background-color: #1669c1; 
}

button[type="submit"] {
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #1669c1;
  transform: scale(1.05);
}

.error-popup, .success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;
}

.error-popup p, .success-popup p {
  margin-bottom: 20px;
}

.error-popup button, .success-popup button {
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.error-popup button:hover, .success-popup button:hover {
  background-color: #1669c1;
  transform: scale(1.05);
}
