/* TodasEquipes.css */
#todas-equipes {
    background-color: #222;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    padding: 40px;
    max-width: 1000px;
    margin: 80px auto;
    color: #fff;
    text-align: center;
  }
  
  #todas-equipes h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  
  .equipes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .equipe-card {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: left;
    transition: background-color 0.3s ease;
  }
  
  .equipe-card:hover {
    background-color: #444;
  }
  
  .equipe-card h3 {
    color: #1a73e8;
    margin-bottom: 10px;
  }
  
  .equipe-card p {
    color: #ddd;
    margin: 5px 0;
  }
  
  .equipe-card .members {
    margin-top: 10px;
  }


  /* TodasEquipes.css */
.equipe-card {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
  text-align: left;
}

.equipe-card button {
  background-color: #1a73e8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.equipe-card button:hover {
  background-color: #155aab;
}



/* TodasEquipes.css */
.equipes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.equipe-card {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
  text-align: left;
  flex: 1 1 calc(33.333% - 40px); /* Adjust as necessary */
}

.equipe-card button {
  background-color: #1a73e8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.equipe-card button:hover {
  background-color: #155aab;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

@media (max-width: 768px) {
  .equipe-card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .equipe-card {
    flex: 1 1 100%;
  }
}


  