/* TodasEquipes.css */
#todas-equipes {
    background-color: #222;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    padding: 40px;
    max-width: 1000px;
    margin: 80px auto;
    color: #fff;
    text-align: center;
  }
  
  #todas-equipes h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  
  .equipes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .equipe-card {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: left;
    transition: background-color 0.3s ease;
  }
  
  .equipe-card:hover {
    background-color: #444;
  }
  
  .equipe-card h3 {
    color: #1a73e8;
    margin-bottom: 10px;
  }
  
  .equipe-card p {
    color: #ddd;
    margin: 5px 0;
  }
  
  .equipe-card .members {
    margin-top: 10px;
  }
  