/* Estilização para Login e Register páginas */
#login,
#register {
  background-color: #222;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  padding: 40px;
  max-width: 600px;
  margin: 80px auto;
  color: #fff;
  /* transition: transform 0.3s ease; */
}

#login:hover,
#register:hover {
  /* transform: scale(1.05); */
}

#login h2,
#register h2 {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.subtitle {
  font-weight: bold;
  color: #999;
  margin-bottom: 1.5em;
  text-align: center;
}

#login form,
#register form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#login p,
#register p {
  text-align: center;
}

#login p a,
#register p a {
  font-weight: bold;
  color: #0094f6;
}

/* Responsividade
@media (max-width: 768px) {
  #login,
  #register {
    padding: 20px;
    margin: 40px auto;
    max-width: 90%;
  }

  #login h2,
  #register h2 {
    font-size: 2em;
  }
} */
